<!DOCTYPE html>
<html lang="en" style="font-size: 17px;">
    <head>
        <meta charset="UTF-8">
        <title>Mito-AssemblyVis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <body>
        <div id="main_title_div">
            <h1 id="main_title">
                Mito-AssemblyVis: Mitochondrial Genome <br />
                Assembly Assessment Visualization
            </h1>
        </div>

        <table id="main_options_table">
            <tr>
                <td class="top_td">
                    <a href="GGisy.html">
                        <img class="main_option_ggisy_image" src="/static/GGisyLogo.png">
                    </a>
                </td>
                <td class="top_td">
                    <a href="HiPlot.html">
                        <img class="main_option_images" src="/static/HiPlotLogo.svg">
                    </a>
                </td>
                <td class="top_td">
                    <a href="PyGenomeViz.html">
                        <img class="main_option_images" src="/static/PyGenomeVizLogo.png">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 class="main_option_title"> GGisy-Based Circos Plot </h2>
                </td>
                <td>
                    <h2 class="main_option_title"> HiPlots for Hyperparameter Tuning </h2>
                </td>
                <td>
                    <h2 class="main_option_title"> PyGenomeViz Annotation Visualization </h2>
                </td>
            </tr>
        </table>

        <!--<div id="main_options_div">
            <div class="main_option_divs">
                <a href="GGisy.html">
                    <img class="main_option_images" src="/static/GGisyLogo.png">
                </a>
                <h2 class="main_option_title"> GGisy-Based Circos Plot </h2>
            </div>

            <div class="main_option_divs">
                <a href="HiPlot.html">
                    <img class="main_option_images" src="/static/HiPlotLogo.svg">
                </a>
                <h2 class="main_option_title"> HiPlots for Hyperparameter Tuning </h2>
            </div>

            <div class="main_option_divs">
                <a href="PyGenomeViz.html">
                    <img class="main_option_images" src="/static/PyGenomeVizLogo.png">
                </a>
                <h2 class="main_option_title"> PyGenomeViz Annotation Visualization </h2>
            </div>
        </div>-->
    </body>
</html>